/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *
 *= require_self
 */

@import './base_styling/reset.css';
 
  
$default-linear-gradient:linear-gradient(to right,#E61E4D 0%,#E31C5F 50%,#D70466 100%);
$default-font-family: 'Nunito', 'Roboto','Helvetica Neue',sans-serif;
$default-color: rgb(34, 34, 34) ;
$default-lighter-color: rgb(113, 113, 113);
$default-pink: #E31C5F;
$default-pink-bright: #FF385C;

@mixin center($direction) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $direction;
  padding: 0;
}

@mixin button($bg-color, $color) {
  font-weight: 700;
  padding: 10px;
  text-align: center;
  color: $color;
  background: $bg-color;
  border-radius: 8px;
  &:hover {
    color: $color;
    background: $bg-color;
  }
  width: 100%;
  margin-bottom: 24px;
  margin-bottom: 16px;
  // border: 1px solid black;
}

#map-container {
  @include center(column);
  height: 100vh;
  width: 100%;
  // aspect-ratio: 1/0.5;
}

#map-container-show{
  @include center(column);
  width: 100%;
  // height: 50vh;
  aspect-ratio: 1/0.5;
}

body {
  @include center(column);
  font-family: $default-font-family;
  color: $default-color;
  font-size: 16px;
  padding: 0 40px 0 40px;
}

h1 {
  font-size: 26px;
  font-weight: bold;
}

h2 {
  font-size: 22px;
  font-weight: bold;
}

h3 {
  font-size: 18px;
  font-weight: bold;
}

h4 {
  font-size: 15px;
  font-weight: bold;
}

a {
  cursor: pointer;
  color: blue;
}

// img {
//   object-fit: cover;
//   vertical-align: center;
//   justify-items: center;
//   width: 100%;
//   aspect-ratio: 1/1;

// }

input, textarea {
  font-size: 16px;
  width: 100%;
  height: 48px;
  border-radius: 8px;
  border: 0.5px solid black;
  margin: 12px;
  padding: 12px;
  // inset: 0px 0px -1px;
  color: $default-color;
  &:focus-within {
    border: 2px solid black;
  }
}

.app-container {
  @include center(column);
}

.main-header {
  @include center(row);
  border-bottom: 1px solid rgb(235, 235, 235);
}

.main-header-content {
  @include center(row);
  padding: 5px;
  height: 80px;
}

.user-auths {
  @include center(row);
  width: auto;
}

.user-auths button{
  @include button($default-linear-gradient, white);
  margin: 5px;
  width: auto;
  text-align: center;
  min-width: 90px;
  white-space: nowrap;
  border-radius: 50px;
  border: 1px solid #EBEBEB;
  color: black;
  background: white;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

.modal-child {
  @include center(column);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  // padding: 24px;
  border-radius: 12px;
  width: 70vw;
  max-width: 500px;
  min-width: 300px;
}

.session-form-container {
  @include center(column);
  width: 100%;
}

.session-form {
  @include center(column);
  width: 100%;
  padding: 24px;
}


.session-form-header {
  @include center(row);
  justify-content: space-between;
  align-items: flex-start;
  flex: 0 1 0;
  padding: 16px;
  border-bottom: 1px solid rgb(235, 235, 235);
}

.session-form-footer {
  @include center(row);
  width: 100%;
  padding: 24px;
}

.close-x {
  @include button(transparent, $default-color);
  // align-self: flex-start;
  cursor: pointer;
  width: 20px;
  height: auto;
  // top: 12px;
  // left: 12px;
  padding: 0;
  margin: 0;
}

.session-form-header h1 {
  text-align: center;
  left: 50%;
  right: 50%;
  width: 100%;
  flex: 0 1 auto;
  // padding: 24px;
}

.sign-in-button{
  @include button($default-linear-gradient, white);
}

.demo-login-button {
  @include button(#4267B2, white);
  word-spacing: nowrap;
}

.error-message {
  color: red;
}

.search-component{
  @include center(row);
  width: 100%; 
  height: 100%;
  padding: 0;
}

.search-list-view {
  @include center(column);
  width: 60%; 
  max-width: 725px;
  height: 100%;
  padding: 0;
  align-self: flex-start;
}

.search-map-view {
  width: 40%; 
  height: 100%;
  padding: 0;
  min-width: 200px;
  flex: 1;
}

.listing-index{
  @include center (row);
  align-self: flex-start;
  width: 100%;
  min-width: 25vw;
  flex-wrap: wrap;
}

.listing-index-item {
  cursor: pointer;
  width: 45vw;
  // height: 30vh;
  // border: 1px solid black;
  margin: 5px;
  aspect-ratio: 1/1.25;
  padding: 5px;
  min-width: 200px;
  max-width: 325px;
  // box-sizing: border-box;
  // position: relative;
}

.listings-tile-image {
  background-color: beige;
  width: 100%;
  aspect-ratio: 1/1;
  border: 0;
  border-radius: 12px;
  margin-bottom: 10px;
}

.listing-index-item-title {
  @include center(row);
  flex-direction: space-between;
}

.listing-index-item-reviews {
  width: 40%;
  text-align: right;
}

.desc-summary {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main-logo {
  // color: $default-pink;
  background: $default-linear-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 32px;
}

.listing-show-container {
  @include center(column);
  row-gap: 24px;
  max-width: 1120px;
  padding-top: 24px;

}


// .listing-show-container > * {
//   // border-top: 1px solid lightgray;
//   border-bottom: 1px solid lightgray;
//   margin-top: 24px !important;
//   padding-bottom: 24px !important;
// }

.listing-show-title {
  @include center(column);
  justify-content: space-between;
  // height: 65px;
}

.listing-show-title p {
  margin-top: 8px;
}

.listing-show-subtitle {
  @include center(row);
  //**NEED TO UPDATE ONCE RESERVATION IS IN
  justify-content: flex-start;
  column-gap: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid lightgray;
}

.listing-show-subtitle-text {
 width: auto;
}

.listing-show-description {
  padding-bottom: 24px;
  border-bottom: 1px solid lightgray;
}

.listing-show-features h2 {
  padding-bottom: 24px;
}

.features-list {
  @include center(row);
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 16px;
  font-size: 17px;
}


.features-list-item {
  width: 30%;
}

.listing-show-images {
  @include center(row);
  aspect-ratio: 1/0.48;
  // height: 50vh;
  border-radius: 12px;
  overflow: hidden;
  max-height: 60vh;
  @media screen and (max-width: 700px) {
    @include center(row);
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow: auto;
    overscroll-behavior: contain;
    aspect-ratio: 1/0.6;
    // flex-direction: row-reverse;
    white-space: nowrap;
    width: 100vw;
    border-radius: 0 0 0 0;
    position: relative;
  }
} 

.main-listing-image {
  height: 100%;
  background-color: beige;
  width: 50%;
  border: 0;
  cursor: pointer;
  overscroll-behavior: none;
  white-space: nowrap;
  
  // @include center(row);
  aspect-ratio: 1/0.48;
  // height: 50vh;

  &:hover  {
    -webkit-filter: brightness(85%);
    transition-duration: 300ms;
  }
  @media screen and (max-width: 700px) {
    width: 100%;
    aspect-ratio: 1/0.6;
  }
}

.oth-listing-images-container {
  @include center(column);
  justify-content: flex-start;
  flex-wrap: wrap;
  height: 100%;
  width: 50%;
  padding-left: 8px;
  gap: 8px;
  overflow: auto;
  @media screen and (max-width: 700px) {
    width: 100%;
    aspect-ratio: 1/0.6;
    // padding: 0;
  }
} 

.oth-listing-image {
  display: grid;
  background-color: beige;
  width: calc(50% - 4px);
  height: calc(50% - 4px);
  border: 0;
  cursor: pointer;
  &:hover  {
    -webkit-filter: brightness(85%);
    transition-duration: 300ms;
  }

  @media screen and (max-width: 700px) {
    width: 100%;
    height: 100%;
  }
}

// .img-hover-overlay {
//   position: absolute;
//   grid-area: 1/1;
//   background-color: #222222;
//   opacity: 1;
//   z-index: 2;
//   &:hover {
//     opacity: 0.15;
//     transition-duration: 300ms;
//   }
// }

.page-width-narrow {
  max-width: 1120px;
}

.filter-form {
  @include center(column);
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
  width: 100%;
  margin-top: 16px;
}

.price-range-inputs {
  @include center(row);
  padding-left: 24px;
  padding-right: 24px
}

#price-range-slider {
  margin: 5px;
}

.range-to {
  width: auto;
  margin: 12px;
}

.min-price-section, .max-price-section {
  @include center(row);
  width: 100%;
} 

.min-price-section label, .max-price-section label {
  width: 50px;
  margin: 5px;
  padding: 0;
} 

.price-input {
  margin: 0;
} 

.review-index-container {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding-top: 24px;
  padding-bottom: 24px;
}

.review-index-content {
  @include center(row);
  flex-wrap: wrap;
  min-width: 375px;
  justify-content: space-between;
  // flex-direction: column-reverse;
  overflow: auto;
  flex: 1;
  max-height: 475px;

  @media screen and (max-width: 700px) {
    @include center(row);
    flex-wrap: nowrap;
    justify-content: flex-start;
    // flex-direction: row-reverse;
  }
}

.review-index-item-container {
  @include center(column);
  min-width: 300px;
  width: 48%;
  border-radius: 12px;
  // max-height: 500px;
  margin-bottom: 12px;
  margin-top: 12px;
  @media screen and (max-width: 700px) {
    @include center(row);
    border: 1px solid lightgray;
    height: 230px;
    justify-content: flex-start;
    flex-flow: column;
    width: 375px;
    margin: 12px;
    padding: 12px;
  }
}

.review-date-updated {
  font-size: 14px;
  color: $default-lighter-color;
}

.review-comment {
  // flex: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 68px;
  margin-top: 12px;
  padding-left: 12px;
  -webkit-line-clamp: 3;
  @media screen and (max-width: 700px) {
    -webkit-line-clamp: 5;
    // width: 370px;
  }
}

.review-index-header {
  margin-bottom: 24px;
}

.review-index-item-title {
  @include center(row);
  padding-left: 12px;
}

.review-index-item-title-text {
  @include center(row);
  justify-content: space-between;
  flex: 1;
}

.review-index-item-title-desc {
  margin-left: 12px;
  width: auto;
  
}
.review-edit-delete {
  @include center(row);
  justify-content: flex-end;
  text-align: right;
  padding: 10px;
  flex-wrap: wrap;
  flex: 1;
}

.review-edit-delete a {
  width: auto;
  margin-left: 10px;
  margin-right: 10px;
  // margin-top: 5px;
  // margin-bottom: 5px;
}

.reviewer-name {
  font-weight: 700;
}

.reviewer-image, .host-image {
  background-color: beige;
  width: 56px;
  height: 56px;
  border: 0;
  border-radius: 50%;
  
}

.review-form-container, .review-form {
  @include center(column);
  padding: 16px;
  row-gap: 16px;
  max-width: 700px;
  text-align: left;
  border-radius: 12px;
  // border: 1px solid lightgray;
}

.review-form-header {
  @include center(row);
  justify-content: space-between;
  align-items: flex-start;
  flex: 0 1 0;
  padding: 16px;
  border-bottom: 1px solid rgb(235, 235, 235);
}

.review-form p {
  color: gray;
}


.review-form label, .rating-input {
  @include center(row);
  font-size: 18px;
  margin-bottom: 12px;
  margin-top: 12px;
  text-align: left;
  justify-content: flex-start;
  font-weight: bold;
  color: $default-color;
}

.review-category {
  width: 200px;
}

span.star{
  font-size: 26px;
  margin-left: 12px;
}

.review-category li {
  color: lightgray;
  cursor: pointer;
}
.review-category li.on {
  color: $default-pink-bright;
}

.review-form, .review-form-title {
  max-width: 700px;
}

.submit-button {
  @include button($default-linear-gradient, white);
  word-spacing: nowrap;
}

#comment-input {
  height: 150px;
}

.buttons-container {
  @include center(row);
  column-gap: 12px;
}

.back-nav {
  font-weight: bold;
  color: black;
}

.underline {
  text-decoration: underline;
}
// .review-category {
//   width: 400px;
// }

// .review-form {
//   @include center(row);
//   text-align: center;
//   flex-wrap: wrap;
//   justify-content: center;
// }


.review-form-container button{
  width: auto;
}

 // no longer needed
 // *= require_tree .

 