/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *
 *= require_self
 */

@import './base_styling/reset.css';
@import 'react-date-range/dist/styles.css'; // main style file
@import 'react-date-range/dist/theme/default.css'; // theme css file
@import 'nouislider-react/node_modules/nouislider/distribute/nouislider.css';

 
  
$default-linear-gradient:linear-gradient(to right,#E61E4D 0%,#E31C5F 50%,#D70466 100%);
$default-linear-gradient2:linear-gradient(to right, #00A699 0%, #007E8B 100%);
$default-font-family: 'Nunito', 'Roboto','Helvetica Neue',sans-serif;
$default-color: rgb(34, 34, 34) ;
$default-lighter-color: rgb(113, 113, 113);
$default-pink: #E31C5F;
$default-pink-bright: #FF385C;

@mixin center($direction) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $direction;
  padding: 0;
}

@mixin button($bg-color, $color) {
  font-weight: 700;
  padding: 10px;
  text-align: center;
  color: $color;
  background: $bg-color;
  border-radius: 8px;
  &:hover {
    color: $color;
    background: $bg-color;
  }
  width: 100%;
  // margin-bottom: 24px;
  // margin-bottom: 16px;
  // border: 1px solid black;

}

@mixin labeled-input-container () {
  @include center(column);
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 8px 8px 8px 8px;
  width: 100%;
  border: 0.5px solid gray;
  position: relative;
  cursor: text;
  label {
    width: auto;
    position: absolute;
    top: 0;
    left: 6px;
    font-size: 12px;
    font-weight: bold;
    padding: 0 0 0 12px;
    margin: 0;
  }
  input {
    padding: 24px 0 0 16px;
    width: auto;
    // text-align: right;
    margin: 0;
    border: none;
  }
  span {
    @include center(row);
    justify-content: flex-start;
  }
  span input {
    text-align: right;
  }
  span p {
    color: $default-lighter-color;
    padding: 24px 0 0 0;
  }
}

@mixin cover() {
  object-fit: cover;
  object-position: 50% 50%
}

.pac-container.pac.logo::after{
  visibility: hidden;
}

.button-unavailable {
  background: rgb(231, 229, 229) !important;
  color: $default-lighter-color !important;
}

.text-small {
  font-size: 14px;
}

.text-gray {
  color: gray;
}


#map-container {
  // @include center(column);
  // height: calc(100vh - 100px);
  height: 100%;
  position: sticky;
  width: 100%;
  // position: absolute;
  // position: fixed;
  top: 0px;
  right:0px;
  // bottom: 0px;
  // aspect-ratio: 1/0.5;
  // filter: brightness(110%) contrast(90%) saturate(90%);
  // filter: saturation(120%);
  @media screen and (max-width: 700px) {

    // height: 1%
  }
}

.gm-control-active {
  border-radius: 12px;
  overflow: hidden !important;
  // background-color: red !important;
}

#map-container-show{
  @include center(column);
  width: 100%;
  // height: 50vh;
  aspect-ratio: 1/0.5;
}

// .labels {
//   border-radius: 25px;
//   width: auto;
// }

body {
  @include center(column);
  font-family: $default-font-family;
  color: $default-color;
  font-size: 16px;
  // padding: 0 40px 40px 40px;

  // @media screen and (max-width: 700px) {
  //   padding: 0 24px 40px 24px;
  // }
}

h1 {
  font-size: 34px;
  font-weight: bold;
}

h2 {
  font-size: 24px;
  font-weight: bold;
}

h3 {
  font-size: 20px;
  font-weight: bold;
}

h4 {
  font-size: 16px;
  font-weight: bold;
}

a {
  cursor: pointer;
  // color: $default-color;
  text-decoration: underline;
}



// img {
//   object-fit: cover;
//   vertical-align: center;
//   justify-items: center;
//   width: 100%;
//   aspect-ratio: 1/1;

// }

input, textarea {
  font-size: 16px;
  width: 100%;
  height: 48px;
  border-radius: 8px;
  border: 0.5px solid lightgray;
  margin: 12px;
  padding: 12px;
  // inset: 0px 0px -1px;
  color: $default-color;
  &:focus-within {
    border: 2px solid black;
  }
}

.linkText {
  font-weight: bold;
  color: black;
  cursor: pointer;
}

.linkText > span {
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}

.normal-weight {
  font-weight: normal;
}

.app-container {
  @include center(column);
  // padding-bottom: 32px;
  height: 100%;
  height: 100vh;
  justify-content: flex-start;
}

.main-header {
  @include center(row);
  border-bottom: 1px solid rgb(235, 235, 235);
  column-gap: 12px;
  position: sticky;
  padding-bottom: 2px;
  top: 0;
  z-index: 10;
  // display: inline-block;
  background-color: white;
  width: 100vw;
  height: 80px;

  @media screen and (max-width: 900px) {
    padding: 0 12px 2px 12px;
  }
}

.main-footer {
  @include center(column);
  border-top: 1px solid rgb(235, 235, 235);
  // column-gap: 12px;
  // justify-content: center;
  // align-content: center;
  position: relative;
  bottom: 0;
  z-index: 10;
  // display: inline-block;
  background-color: white;
  width: 100vw;
  margin-top: auto;
  padding: 24px 12px 24px 12px;
}

.footer-subheading {
  text-align: center;
  font-weight: bold;
  // text-decoration: underline;
  width: auto;
}

.main-footer-content {
  @include center(row);
}

.social-link {
  @include center(row);
  width: auto;
  padding: 0 12px 0 12px;
  font-size: 24px;
  text-decoration: none;

  &:hover {
    -webkit-filter: brightness(110%);
    transition-duration: 300ms;
    font-weight: bold;
    font-size: 26px;
    color: $default-pink
  }
}

.social-link-label {
  font-size: 14px;
  padding: 6px;
  &:hover {
    text-decoration: underline;
    font-weight: bold;
    color: $default-pink
    // font-size: 15px;
  }
}


.main-header-content {
  @include center(row);
  justify-content: space-between;
  margin: 0 24px 0 24px;
  height: 80px;
  justify-self: center;
  align-self: center;
  // position: absolute;
  // position: fixed;
  background-color: white;
}

.user-auths {
  @include center(row);
  width: auto;
}

.user-auths button{
  @include button($default-linear-gradient, white);
  margin: 5px;
  width: auto;
  text-align: center;
  min-width: 90px;
  white-space: nowrap;
  border-radius: 50px;
  border: 1px solid #EBEBEB;
  color: black;
  background: white;
}



.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

.modal-child {
  @include center(column);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  // padding: 24px;
  border-radius: 12px;
  overflow: hidden;
  width: 70vw;
  max-width: 500px;
  min-width: 300px;
}

.session-form-container {
  @include center(column);
  width: 100%;
}

.session-form {
  @include center(column);
  width: 100%;
  padding: 24px;
}


.session-form-header {
  @include center(row);
  justify-content: space-between;
  align-items: flex-start;
  text-align: center;
  flex: 0 1 0;
  padding: 16px;
  border-bottom: 1px solid rgb(235, 235, 235);
}

.session-form-footer {
  @include center(row);
  width: 100%;
  padding: 24px;
}

.close-x {
  @include button(transparent, $default-color);
  // align-self: flex-start;
  cursor: pointer;
  width: 20px;
  height: auto;
  // top: 12px;
  // left: 12px;
  padding: 0;
  margin: 0;
}

.session-form-header h1 {
  text-align: center;
  left: 50%;
  right: 50%;
  width: 100%;
  flex: 0 1 auto;
  // padding: 24px;
}

.sign-in-button {
  @include button($default-linear-gradient, white);
}

.demo-login-button {
  // @include button(#4267B2, white);
  @include button ($default-linear-gradient2, white);
  word-spacing: nowrap;
}

.error-message {
  color: red;
}


.search-bar-container {
  @include center(row);
  width: 500px;
  height: 48px;
  // height: 100%;
  margin: 12px;
  padding: 10px;
  cursor: pointer;
  border: 1px solid #DDDDDD;
  border-radius: 40px;
  overflow: hidden;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08), 0 4px 2px rgba(0, 0, 0, 0.05);
  // box-shadow: 0 1px 2px rgb(0, 0, 0, 8%), 0 4px 12px rgb(0, 0, 0, 5%);
  -webkit-transition: box-shadow 0.2s ease;
  &:hover {
    box-shadow: 0 2px 4px rgba(0,0,0,0.18);
  }
}

.search-bar {
  flex: 1;
  margin: 0;
  padding: 0 0 0 12px;
  border-style: none;
  border-radius: 0;
  height: 90%;
  &:focus-within {
    border-style: none;
  }
}

.input-checkin, .input-checkout, .input-guests {
  border-left: 1px solid lightgray;
  &:focus-within {
  border-left: 1px solid lightgray;
  }
}

.search-button {
  @include center(column);
  width: 32px;
  height: 32px;
  margin:0;
  padding:0;
  border-radius: 50%;
  background-color: #FF385C;
  color: white;
  
  // text-align: center;
  // vertical-align: middle;
  // padding-right: 12px;

}

.fa-search {
  width: auto;
}

.search-component {
  @include center(row);
  width: 100%; 
  top: 80px;
  height: calc(100vh - 80px);
  // position: fixed;
  // flex: 1;
  padding: 0;
  justify-content: flex-start;
  // bottom:0;

  @media screen and (max-width: 700px) {
    @include center(column);
    flex-wrap: wrap;
    flex-flow: column-reverse wrap;
    overflow: auto;

  }
}

.search-list-view-header {
  @include center(row);
  justify-content: space-between;
  padding: 12px 12px 12px 12px;
}

.search-list-view-header h3{
  width: auto
}

.open-filter-modal-button{
  align-self: flex-end;
  @include button(white, black);
  @include center(row);
  // justify-content: space-between;
  column-gap: 6;
  margin: 5px;
  width: auto;
  padding: 6px 12px 6px 12px;
  text-align: center;
  min-width: 70px;
  white-space: nowrap;
  border-radius: 8px;
  border: 2px solid black;
  // color: black;
  // background: white;
  font-size: 16x;

}

.open-filter-modal-button i{
  padding-right: 6px;
}

.search-list-view {
  @include center(column);
  justify-content: flex-start;
  column-gap: 6px;
  overflow: auto;
  width: 50%; 
  max-width: 710px;
  height: 100%;
  padding: 0 12px 0 12px;
  margin:0;
  align-self: flex-start;
  flex-wrap: nowrap;
  position: relative;
  @media screen and (max-width: 1295px) {
    width: 35%;
    padding-left: 6px;
  }
  @media screen and (max-width: 700px) {
    width: 100%;
    height: 60%;
    padding-right: 6px;
    // bottom: 0px;
  }
}

.search-map-view {
  // position: fixed;
  // width: 50%; 
  height: calc(100vh - 80px);
  padding: 0;
  min-width: 200px;
  flex: 1;
  // align-self: flex-start;
  bottom: 0px;

  @media screen and (max-width: 1295px) {
    // flex:none;
    width: 50%;
  }

  @media screen and (max-width: 700px) {
    width: 100%;
    height: 40%;
    overflow: scroll;
    bottom:auto;
    // position: relative;
  }
}

.listing-index{
  @include center (row);
  justify-content: space-between;
  align-self: flex-start;
  width: 100%;
  min-width: 225px;
  flex-wrap: wrap;
  // padding-left: 24px;
}

.listing-index-item {
  cursor: pointer;
  width: calc(50% - 12px);
  // height: 30vh;
  // border: 1px solid black;
  margin: 5px;
  aspect-ratio: 1/1.15;
  padding: 5px;
  min-width: 200px;
  max-width: 425px;
  // box-sizing: border-box;
  // position: relative;
  @media screen and (max-width: 1295px) {
    width: 455px;

  }
  @media screen and (max-width: 700px) {
    width: 47%;
  }

  @media screen and (max-width: 475px) {
    width: 100%;
    align-self: center;
    justify-self: center;
  }
  
}

.listings-tile-image {
  @include cover();
  background-color: transparent; //rgb(228, 220, 212);
  width: 100%;
  aspect-ratio: 1/0.9;
  border: 0;
  border-radius: 12px;
  margin-bottom: 10px;
  
}

.listing-index-item-title {
  @include center(row);
  flex-direction: space-between;
}

.listing-index-item-reviews {
  width: 40%;
  text-align: right;
}

.desc-summary {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.logo-group {
  @include center(row);
  width:auto;
}

.logo {
  width: 35px;
}

.main-logo {
  color: $default-pink-bright;
  font-size: 26px;
  width:auto;
  // background: $default-linear-gradient;
  // -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
}

.listing-show-container, .listing-info {
  @include center(column);
  row-gap: 24px;
  max-width: 1120px;
  // padding-top: 24px;
  padding: 24px 40px 40px 40px;

  @media screen and (max-width: 700px) {
    padding: 24px 24px 40px 24px;
  }
}

.listing-show-container {
  // top: 80px;
  // position:fixed;
  // overflow: scroll;
  font-size: 17px;
  line-height: 1.75em;
}


// .listing-show-container > * {
//   // border-top: 1px solid lightgray;
//   border-bottom: 1px solid lightgray;
//   margin-top: 24px !important;
//   padding-bottom: 24px !important;
// }

.listing-show-title {
  @include center(column);
  justify-content: space-between;
  align-self: flex-start;
  padding: 0;
  // height: 65px;
}

.listing-show-title p {
  margin-top: 8px;
}

.listing-show-subtitle {
  @include center(row);
  justify-content: space-between;
  column-gap: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid lightgray;
  
}

.listing-show-subtitle-text {
 width: auto;
}

.listing-show-description {
  padding: 24px 0 48px 0;
  border-bottom: 1px solid lightgray;
  flex: 1;


}
.listing-show-features {
  padding: 12px 0 36px 0;
  border-bottom: 1px solid lightgray;
}

.listing-show-features h2 {
  padding-bottom: 24px;
}

.features-list {
  @include center(row);
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 16px;
  font-size: 17px;
}


.features-list-item {
  width: 30%;
}

.listing-show-availability {
  padding: 24px 0 24px 0;
  // border-bottom: 1px solid lightgray;
}

.listing-show-images {
  @include center(row);
  aspect-ratio: 1/0.50;
  // height: 50vh;
  border-radius: 12px;
  overflow: hidden;
  max-height: 60vh;
  flex-wrap: wrap;
  @media screen and (max-width: 700px) {
    @include center(row);
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow: scroll;
    overscroll-behavior: auto;
    aspect-ratio: 1/0.6;
    // flex-direction: row-reverse;
    white-space: nowrap;
    width: 100vw;
    border-radius: 0 0 0 0;
    position: relative;
  }
} 

.main-listing-image {
  @include cover();
  height: 100%;
  background-color: transparent;// beige;
  width: 50%;
  border: 0;
  cursor: pointer;
  overscroll-behavior: auto;
  white-space: nowrap;
  
  // @include center(row);
  aspect-ratio: 1/0.47;
  // height: 50vh;

  &:hover  {
    -webkit-filter: brightness(85%);
    transition-duration: 300ms;
  }
  @media screen and (max-width: 700px) {
    width: 100%;
    aspect-ratio: 1/0.6;
  }
}

.oth-listing-images-container {
  @include center(column);
  justify-content: flex-start;
  flex-wrap: wrap;
  height: 100%;
  width: 50%;
  padding-left: 8px;
  gap: 8px;
  overflow: auto;
  @media screen and (max-width: 700px) {
    width: 100%;
    aspect-ratio: 1/0.6;
    // padding: 0;
  }
} 

.oth-listing-image {
  @include cover();
  display: grid;
  background-color: transparent; // beige;
  width: calc(50% - 4px);
  height: calc(50% - 4px);
  border: 0;
  cursor: pointer;
  &:hover  {
    -webkit-filter: brightness(85%);
    transition-duration: 300ms;
  }

  @media screen and (max-width: 700px) {
    width: 100%;
    height: 100%;
  }
}

// .img-hover-overlay {
//   position: absolute;
//   grid-area: 1/1;
//   background-color: #222222;
//   opacity: 1;
//   z-index: 2;
//   &:hover {
//     opacity: 0.15;
//     transition-duration: 300ms;
//   }
// }

.page-width-narrow {
  max-width: 1120px;
  justify-self: center;
  align-self: center;
}

.filter-form {
  @include center(column);
  padding: 0px;
  width: 100%;
  top: 0px;
  position: sticky;
  background: white;
}
.filter-form  > *{
  padding: 12px 24px 24px 24px;
}

.filter-form-header {
  @include center(row);
  justify-content: flex-start;
  text-align: center;
  flex: 0 1 0;
  padding: 16px;
  border-bottom: 1px solid rgb(235, 235, 235);
}

.filter-form-footer {
  @include center(row);
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgb(235, 235, 235);
  margin-top: 48px;
  padding-top: 24px;
}


.filter-apply-button {
  width: auto;
  @include button (black, white);
  // word-spacing: nowrap;
  
}

.price-range-inputs {
  @include center(row);
  padding-left: 24px;
  padding-right: 24px
}

#price-range-slider {
  // @include center(row);
  // margin: 5px 24px 36px 0px;
  margin-bottom: 12px;
  padding: 24px;
  border: none;
  box-shadow: none;
  background: transparent;
  // width: 80%;
}

.range-to {
  width: auto;
  margin: 12px;
}

.min-price-section, .max-price-section {
  @include center(row);
  width: 100%;
} 

.min-price-section label, .max-price-section label {
  width: 50px;
  margin: 5px;
  padding: 0;
} 

.price-input {
  margin: 0;
} 

.review-index-container {
  @include center(column);
  overflow: auto;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding-top: 48px;
  padding-bottom: 24px;
}

.rating-category-averages-container {
  @include center(row);
  flex-wrap: wrap;
  justify-content: flex-start;

}

.rating-category-average {
  @include center(row);
  width: 50%;
  padding-left: 12px;
  padding: 6px 24px 6px 12px;
  justify-content: space-between;
  @media screen and (max-width: 700px) {
    width: 100%;
  }
}

.rating-category-label {
  font-size: 16px;
  width: 150px;
  padding-right: 12px;
  padding-bottom: 24px;
  // white-space: nowrap;
}

.rating-average-label {
  width: 50px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 14px
}

.rating-category-value {
  @include center(row);
  flex: 1;
}

.rating-bar-outter {
  flex: 1;
  background: lightgray;
  height: 5px;
  position: relative;
  border-radius:50px;
  overflow: hidden;
}

.rating-bar-inner {
  background: $default-color;
  height: 5px;
  position: absolute;
}


.review-index-content {
  @include center(row);
  flex-wrap: wrap;
  min-width: 375px;
  justify-content: space-between;
  // flex-direction: column-reverse;
  overflow: auto;
  flex: 1;
  max-height: 475px;

  @media screen and (max-width: 700px) {
    @include center(row);
    flex-wrap: nowrap;
    justify-content: flex-start;
    // flex-direction: row-reverse;
  }
}

.review-index-item-container {
  @include center(column);
  min-width: 300px;
  width: 48%;
  border-radius: 12px;
  // max-height: 500px;
  margin-bottom: 12px;
  margin-top: 12px;
  @media screen and (max-width: 700px) {
    @include center(row);
    border: 1px solid lightgray;
    height: 230px;
    justify-content: flex-start;
    flex-flow: column;
    width: 375px;
    margin: 12px;
    padding: 12px;
  }
}

.review-date-updated {
  font-size: 14px;
  color: $default-lighter-color;
  line-height: 1em;
}

.review-comment {
  // flex: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 90px;
  margin-top: 12px;
  padding-left: 12px;
  -webkit-line-clamp: 3;
  @media screen and (max-width: 700px) {
    -webkit-line-clamp: 5;
    // width: 370px;
  }
}

.review-index-header {
  margin-bottom: 24px;
}

.review-index-item-title {
  @include center(row);
  padding-left: 12px;
}

.review-index-item-title-text {
  @include center(row);
  justify-content: space-between;
  flex: 1;
}

.review-index-item-title-desc {
  margin-left: 12px;
  width: auto;
  
}
.review-edit-delete {
  @include center(row);
  justify-content: flex-end;
  text-align: right;
  padding: 10px;
  flex-wrap: wrap;
  flex: 1;
}

.review-edit-delete a {
  width: auto;
  margin-left: 10px;
  margin-right: 10px;
  // margin-top: 5px;
  // margin-bottom: 5px;
}

.reviewer-name {
  font-weight: 700;
}

.reviewer-image, .host-image {
  @include cover();
  background-color: transparent; // beige;
  width: 56px;
  height: 56px;
  border: 0;
  border-radius: 50%;
  
}

.review-form-container{
  @include center(column);
  // padding: 16px;
  row-gap: 16px;
  max-width: 700px;
  text-align: left;
  border-radius: 12px;
  // border: 1px solid lightgray;
  padding: 0 40px 40px 40px;

  @media screen and (max-width: 700px) {
    padding: 0 24px 40px 24px;
  }
}

.review-form {
  @include center(column);
  padding: 16px;
  row-gap: 16px;
  max-width: 700px;
  text-align: left;
  border-radius: 12px;
  // border: 1px solid lightgray;
}

.review-form-header {
  @include center(row);
  justify-content: space-between;
  align-items: flex-start;
  flex: 0 1 0;
  padding: 16px;
  border-bottom: 1px solid rgb(235, 235, 235);
}

.review-form p {
  color: gray;
}


.review-form label, .rating-input {
  @include center(row);
  font-size: 18px;
  margin-bottom: 12px;
  margin-top: 12px;
  text-align: left;
  justify-content: flex-start;
  font-weight: bold;
  color: $default-color;
}

.review-category {
  width: 200px;
}

span.star{
  font-size: 26px;
  margin-right: 12px;
}

.review-category li {
  color: lightgray;
  cursor: pointer;
}
.review-category li.on {
  color: $default-pink-bright;
}

.review-form, .review-form-title {
  max-width: 700px;
}

.submit-button {
  @include button($default-linear-gradient, white);
  word-spacing: nowrap;
}

#comment-input {
  height: 150px;
  margin-left: 0;
}

.buttons-container {
  @include center(row);
  column-gap: 12px;
}


// .review-category {
//   width: 400px;
// }

// .review-form {
//   @include center(row);
//   text-align: center;
//   flex-wrap: wrap;
//   justify-content: center;
// }


.review-form-container button {
  width: auto;
}

.listing-info-and-reservation {
  @include center(row);
  // justify-content: space-between;
  align-content: space-between;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding-top: 24px;
}

.listing-info {
  @include center(column);
  height: 100%;
  width: 50%;
  padding: 0;
  flex: 1;
  align-items: flex-start;
}


.listing-reservation {
  @include center(column);
  flex: 1;
  max-width: 415px;
  margin-left: 68px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 12px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  padding: 12px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
  position: sticky;
  top: 125px;
  padding: 24px;

}

.reservation-form-container {
  @include center(column);
  // background: #ff000080;
  width: 100%;
  // padding: 12px;

  // float: right;
  // shape-outside:linear-gradient(transparent,transparent);
  gap: 12px;
}

.reservation-inputs-container {
  @include center(row);
  flex-wrap: wrap;
}

.reservation-checkin-input-container {
  @include labeled-input-container();
  width: 50%;
  border-radius: 8px 0 0 0;
  border: 0.5px solid gray;
  @media screen and (max-width: 850px) {
    width:100%;
    border-bottom: none;
    border-radius: 8px 8px 0 0;
  }
}

.reservation-checkout-input-container {
  @include labeled-input-container();
  width: 50%;
  border-radius: 0 8px 0 0;
  border: 0.5px solid gray;
  border-left: none;
  @media screen and (max-width: 850px) {
    width:100%;
    border-left: 0.5px solid gray;
    border-radius: 0 0 0 0;
  }
}

.reservation-guests-input-container {
  @include labeled-input-container();
  border-radius: 0 0 8px 8px;
  width: 100%;
  border: 0.5px solid gray;
  border-top: none;
}


.reservation-buttons-container {
  padding: 24px 0 24px 0;
  text-align: center;
  @media screen and (max-width: 700px) {
    margin-bottom: 36px;
  }
}

.reservation-costs-container {
  @include center(column);

  row-gap: 12px;

  @media screen and (max-width: 700px) {
    padding: 0;
    row-gap: 0px;
  }

}


.reservation-info {
  @include center(row);
  justify-content: space-between;
  // height: 28px;
  // padding-top: 6px;
  @media screen and (max-width: 700px) {
    height: auto;
    padding-top: 4px;
  }
}


.reservation-info-label {
  width: calc(auto);
  margin-right: 36px ;
}

.reservation-info-cost {
  text-align: right;
  flex:1;
}
.reservation-info.total {
  // height: 45px;
  margin-top: 24px;
  padding-top: 32px;
  border-top: 1px solid lightgray;
  vertical-align: bottom;

  font-weight: bold;

  @media screen and (max-width: 700px) {
    margin-top: 12px;
    padding-top: 12px;
  }
}

.reservation-form-header {
  @include center(row);
  justify-content: space-between;
  padding-bottom: 12px;
  flex-wrap: wrap;
}

.reservation-form-header-title {
  white-space: nowrap;
  flex: 1;
}

span.reservation-price-units {
  font-size: 20px;
  font-weight: normal;
}

.reservation-review-summary {
  font-size: 16px;
  font-weight: normal;
  width: auto;
  white-space: nowrap;

}

.reservation-button {
  @include button($default-linear-gradient, white);
  height: 48px;
  padding: 0;
  margin: 0;
}


.reservation-submit-note {
  font-size: 16px;
  text-align: center;
  height: 26px;
  margin-top: 16px;
  color: $default-lighter-color;
}


.reservation-index-container {
  max-width: 925px;
  padding: 0 40px 40px 40px;

  @media screen and (max-width: 700px) {
    padding: 0 24px 40px 24px;
  }
}
.reservation-index-upcoming, .reservation-index-previous {
  padding-top: 36px;
  padding-bottom: 12px;
}

.reservation-index-title {
  padding: 36px 0 0 0;
}

.start-searching-button {
  @include button($default-linear-gradient, white);
  font-size: 18px;
  width: auto;
  padding: 12px 24px 12px 24px;
  align-self: flex-start;
  margin-top: 24px;
  text-decoration: none;
}
.reservation-index-items-container {
  @include center(column);
  row-gap: 24px;
  margin-top: 24px;
  flex-flow: column-reverse;
}

.reservation-index-items-container-small {
  @include center(row);
  flex-wrap: wrap;
  justify-content: flex-start;
  // column-gap: 14px;
  justify-content: space-between;
  // flex-flow: column-reverse;
  @media screen and (max-width: 925px) {
    justify-content: flex-start;
  }
}

.reservation-item-container {
  max-width:925px;
  @include center(row);
  overflow: hidden;
  border-radius: 12px;
  box-shadow:  rgba(0, 0, 0, 0.2) 0px 6px 20px 0px;
  row-gap: 24px;
  height: 208px;
  cursor: pointer;
  @media screen and (max-width: 700px) {
    @include center(row);
    align-items: flex-start;
    justify-content: flex-end;
    flex-wrap: wrap-reverse;
    flex-flow: column-reverse wrap;
    overflow: auto;
    height: 372px;
    row-gap: 0;
  }

  &:hover{
    box-shadow:  rgba(0, 0, 0, 0.18) 0px 6px 20px 0px;
    -webkit-filter: brightness(105%);
    transition-duration: 300ms;

  }
}

.reservation-item-container-small {
  width: 270px;
  @include center(row);
  overflow: hidden;
  row-gap: 12px;
  height: 100px;
  cursor: pointer;

  @media screen and (max-width: 925px) {
    margin-right: 15%;
  }
}

.no-upcoming-reservations {
  border: lightgray solid 1px;
  box-shadow:  none;
  &:hover{
    cursor:auto;
    box-shadow: none;
    -webkit-filter: brightness(100%);
  }
}

.reservation-item-text {
  @include center(column);
  padding: 24px;
  @media screen and (max-width: 700px) {
    width: 100%;
    height: 50%
  }
}

.reservation-item-text-small {
  @include center(column);
  padding-left: 12px;
  @media screen and (max-width: 700px) {
    width: 100%;
    height: 50%
  }
}

.reservation-item-title {
  height: 50%;
  border-bottom: 1px solid lightgray;
  padding-bottom: 16px;
  @media screen and (max-width: 700px) {
    width: 100%;
    height: 50%;
  }
}

.reservation-item-subtext {
  margin-top: 6px;
}

.reservation-item-info {
  @include center(row);
  height: 50%;
  padding-top: 16px;
  justify-content: flex-start;
  align-items: flex-start;
}


.reservation-item-date-range{
  @include center(column);
  width: 80px;
  margin-right: 24px;
  font-size: 18px;
 
}

p.reservation-date {
  font-size: 18px;
}

.reservation-year {
  font-size: 14px;
}

span.date-range-to {
  flex: 1;
  text-align: center;
  align-self: center;
  justify-self: center;
}

.reservation-item-address {
  flex: 1;
  border-left: 1px solid lightgray;

  padding-left: 24px;
}

.reservation-address1, .reservation-address2 {
  font-size: 18px;
}

.reservation-address3 {
  font-size: 14px;
}

.reservation-item-image-container {
  // width:50%;
  @media screen and (max-width: 700px) {
    min-height: 163px;
    height: 163px;
    width: 100%;
    overflow: hidden;
    position: relative;
    // height:40%;
  }
}

.reservation-item-image-container-small {
  min-width: 72px;
  max-width: 72px;
  height: 72px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  border-radius: 12px;
}

.reservations-tile-image {
  @include cover();
  @media screen and (max-width: 700px) {
    // width: 700px;
    width: 100%;
    min-height:100%;
    position: absolute;
    top: -100%;
  }
  @media screen and (max-width: 500px) {
    position: relative;
    top: 0%;
    height: 100%;
  }
}

.reservations-tile-image-small {
  width: 150%;
  height: 150%;
  @include cover();
  position: absolute;
  top: -40%;
}

.reservation-calendar-range {
  @include center(row);
  width: calc(100% + 48px);
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  column-gap: 34px;
}

.rdrCalendarWrapper {
  @media screen and (max-width: 1100px) {
    // width: 100%
  }
}

.rdrMonthsVertical{
  // aspect-ratio: 1/1;
}

.rdrMonthAndYearPickers {
  @include center(row);
  justify-content: center;
  column-gap: 0;
  width: 200px;
}

.rdrMonthAndYearPickers select{
  font-size: 15px;
  font-weight: bold;
}

.rdrMonthAndYearWrapper button{
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: transparent !important;
  // &::after {
  //   content: ' > ';
  //   text-align: center;
  //   vertical-align: middle;
  //   top: -10px;
  //   right: -10px;
  //   position:relative;
  // }
}

// .rdrMonthAndYearWrapper button i {
//   visibility: hidden;
//   width:0px;
//   height: 0px;
// }

.rdrDayPassive {
  color: transparent !important;
}

.rdrDayPassive .rdrDayNumber > span{
  color: transparent !important;
  text-decoration: none;
  // background-color: white;
}

.rdrMonth {
  padding: 0;
  width: 100%;
}

.rdrWeekDay {
  // font-size: 12px;
  // font-weight: bold;
}

.rdrDayToday .rdrDayNumber span:after {
  border: 0px;
  background-color: transparent !important;
  background: transparent !important;
}

.rdrDayNumber > span {
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  padding-top: 4px;
  color: $default-lighter-color;
}

// .rdrDayHovered {
//   background-color: $default-color;
//   color: white;
// }

// .rdrDayNumber * {
//   border: 0px !important;
//   outline: 0px !important;
//   &:after{
//     border: 0px !important;
//     outline: 0px !important;

//   }
// }

.rdrCalendarWrapper:not(.rdrDateRangeWrapper) .rdrDayHovered .rdrDayNumber:after{
  content: '';
  border: 2px solid $default-color;
  top: -10px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: none;
  background-color: transparent;
  filter: opacity(100%) !important;
}

.rdrDayStartPreview, .rdrDayInPreview, .rdrDayEndPreview{
  background: transparent;
  border-radius: 0px;
  position: absolute;
  top: 3px;
  left: 0px;
  right: 0px;
  bottom: 3px;
  pointer-events: none;
  border: 0px;
  z-index: 1;
  border:none;
}

.rdrDayEndOfMonth, .rdrDayEndOfWeek{
  .rdrDayInPreview, .rdrDayStartPreview{
   border-top-right-radius: 0;
   border-bottom-right-radius: 0;
   border-right-width: 0px;
   right: 0px;
 }
}
.rdrDayStartOfMonth, .rdrDayStartOfWeek{
  .rdrDayInPreview, .rdrDayEndPreview{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left-width: 0px;
    left: 0px;
  }
}

.rdrDayToday .rdrDayNumber span{
  font-weight: 500;
  &:after{
    content: '';
    position: absolute;
    bottom: 4px;
    left: 50%;
    transform: none;
    width: 18px;
    height: 2px;
    border-radius: 50%;
    border: 0px;
    background: transparent;
    z-index: 5;
  }
}

// .rdrDayHovered .rdrDayNumber > span{
//   // background-color: $default-color;
//   // border: none;
//   background-color: transparent;
//   background: none;
//   border: 2px solid $default-color;
//   border-radius: 50%;
//   // width: 36px;
//   // height: 40px;
//   margin: 0px;
//   padding: 0px;
//   aspect-ratio: 1/1;
//   &::after {
//     visibility: hidden;
//   }
// }

.rdrDayInPreview .rdrDayNumber > span{
  background-color: rgb(247, 247, 247);
  color: black;
  border: none;
}

.rdrDayDisabled {
  background-color: transparent;
  text-decoration: line-through;
  cursor: auto;
}
.rdrDayDisabled .rdrDayNumber > span{
  text-decoration: line-through;
  font-weight: normal;
  color: rgb(192, 192, 192);
}

// .rdrMonths {
//   @include center(row);
//   flex-wrap: wrap;

  
// }
// .rdrDefinedRangesWrapper {
//   display: none;
// }

.rdrDateDisplayWrapper{
  display: none;
}

// .rdrMonth {
//   width: 50%;
//   @media screen and (max-width: 900px) {
//     width: 100%;
//   }
// }

// .rdrMonthAndYearWrapper{
//   display: none;
// }

.reservation-calendar {
  width: 324px;
  padding: 0 12px 0 0;
  // min-width: 324px;
  @media screen and (max-width: 900px) {
        width: 100%;
      }
}

.noUi-horizontal {
  height: 5px;
}
.noUi-connects {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 5px;
  background-color: lightgray;
}

.noUi-connect {
  background: $default-lighter-color;
  height: 5px;
  width: 100%;
}

.noUi-handle {
  width: 20px !important;
  height: 20px !important;
  border-radius: 50% !important;
  top: -8px !important;
  &::before {
    left: 7px;
    top: -1px;
    height: 20px;
  }
  &::after {
    left: 10px;
    top: -1px;
    height: 20px;
  }
}

.noUi-origin {
  height: 10%;
  width: calc(10% + 1px);
}




// no longer needed
// *= require_tree .

 